<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
<link rel="stylesheet" href="/stylesheets/signup3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <title>signup3</title>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-image: url('/images/darkness.png');">
        <div class="container">
        <a class="navbar-brand" href="/"><img src="images/arrow.svg" style="width:20px;">  Back</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
       
    </div>
      </nav>

      <div class="wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="signup col-md-6 mb-3 justify-content-center content" >
                    <form action="/contributor/signup" style="background-color:aliceblue;border:solid;border-width:0.2px;border-color: blueviolet;" method="POST">
                        <h2>Register</h2>
		                <p class="hint-text">Create your account. It's free and only takes a minute.</p>
                        <div class="form-row">
                          <div class="col-md-6 mb-3">
                            <label for="fname">First name</label>
                            <input type="text" class="form-control" id="fname" name="firstname">
                            
                          </div>
                          <div class="col-md-6 mb-3">
                            <label for="lname">Last name</label>
                            <input type="text" class="form-control" id="lname" name="lastname">
                            
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-md-6 mb-3">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" >
                            
                          </div>
                          <div class="col-md-6 mb-3">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username">
                            
                          </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password1" name="password1" >
                                
                              </div>
                              <div class="col-md-6 mb-3">
                                <label for="password2">Password</label>
                                <input type="password" class="form-control" id="password2" name="password2">
                                
                              </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-6">
                                <label for="qual">Latest Qualification</label>
                                <input type="text" class="form-control" id="qual" name="qualification">
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <button class="btn" id="submit">submit</button>
                          
                        </div>
                        
                      </form>
                       <div class="a-info"><%=msg1%></div>   
                </div>
                <div class="login col-md-6 mb-3 justify-content-center content">
                    <form action="/contributor/login" style="background-color:aliceblue;border:solid;border-width:0.2px;border-color: blueviolet;" method="POST">
                        <h2>Login</h2>
		                <p class="hint-text">Enter your username and password to log in.</p>
                        <div class="form-row">
                            <div class="col-md-12 mb-6">
                              <label for="username">Username</label>
                              <input type="text" class="form-control" id="username1" name="username">
                              
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-6">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" id="password" name="password">
                              
                            </div>
                            
                        </div><br>
                        <div class="form-row">
                            <button class="btn" id="submit1">submit</button>
                        </div>
                    </form>
                    <div class="a-info"><%=msg2%></div>   
                </div>
            
            </div>
        </div>
    </div>
    <footer>
      <div class="footer" style="background-image: url('/images/darkness.png');">
        <div class="container">
          <div class="row icons">
            <div class="col-3  check align">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-linkedin"></a>
              <a href="#" class="fa fa-instagram"></a>
            </div>
            
            </div>
  
            <div class="row cc">
              <div class="col  check">
              Copyrights &#x1f16d; 2020
              </div>
            </div>
  
            <div class="row team">
              <div class="col  check">
              Made with &#10084; by Team C@rbon
              </div>
            </div>
          </div>
        </div>
    </footer>
    <script>        
      if (window.performance) {
         
      }
      if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
      location.href="http://localhost:3000/contributor?msg="
      } else {
      }
  </script>   
    </body>
    
</html>