

.navbar{
    background-image: url('images/darkness.png');
    color:white;
}
.icons{
    display: flex;
    justify-content:center;
  }
.footer
{
    background-color: black;
    height:30vh;
}
.check{
    
    display: flex;
    justify-content:center;
    justify-content: space-around;
    margin-top:2rem;
}
.cc{
     
    display: flex;
    justify-content:center;
    color:white;

}
.team{
  display: flex;
  justify-content:center;
  color:white;
}

.footer{
  background-image: url('images/darkness.png');
}




.menu{
    
    margin-left:34rem;
    width:60%;
   
}
.menu ul li{
    margin-left:1rem;
    margin-right:1rem;
}

.fa {
    padding: 10px;
    font-size: 26px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius:10px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
.content{
    margin-bottom:10rem;
   
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}


.tablee{
    margin-top:4rem;
    margin-bottom:2rem;
}
.empty{
    margin-bottom:2rem;
}
.btns
{
    margin-bottom:2rem;
}
.msg{
    margin-bottom:2rem;
}

.toto{
  display:flex;
  margin-top:2em;
}

.enter-mail{
  margin-left:1rem;
}


.btns button {
  position: relative;
  background-color: #4CAF50;
  border: none;
 
  color: #FFFFFF;
  font-size:1.5rem;
  width: 12rem;
  height:4rem;
 border-radius:5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  outline:none;

}

.btns button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btns button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


.su1{
  border:none;
  background-color: #90EE90;
  border-radius:5px;
}
.su12{
  width:40px;
  border:none;
  background-color:white;
  outline:none;
}
.msg p{
  font-size:2rem;
}

.empty p{
  font-size:2rem;
}
.table td img{
  width:80px;
}



@media screen and (max-width:992px)
{
  .menu{
      margin-left:unset;
  }


}