*{
    margin: 0px;
    padding: 0px;
}
body {
	color: #fff;
	background: #63738a;
	font-family: 'Roboto', sans-serif;
}


.wrapper{
    margin: 40px 20px;
}

.content{
    margin-top: 250px;
}

.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}

.form-control, .btn {        
    border-radius: 3px;
}
.signup {
	width: 450px;
	margin: 0 auto;
	padding: 30px 0;
  	font-size: 15px;
}
.signup h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup h2:before, .signup h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.signup h2:before {
	left: 0;
}
.signup h2:after {
	right: 0;
}
.signup .hint-text {
	color: rgb(133, 133, 133);
	margin-bottom: 30px;
	text-align: center;
}
.signup form {
	color: rgb(133, 133, 133);
	border-radius: 3px;
	margin-bottom: 15px;
	background: #bababd;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.signup .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
    background-color: #05a305;
    
}

.login {
    width: 450px;
    
	margin: 0 auto;
	padding: 30px 0;
  	font-size: 15px;
}
.login h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.login h2:before, .login h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.login h2:before {
	left: 0;
}
.login h2:after {
	right: 0;
}
.login .hint-text {
	color: rgb(133, 133, 133);
	margin-bottom: 30px;
	text-align: center;
}
.login form {
	color: rgb(133, 133, 133);
	border-radius: 3px;
	margin-bottom: 15px;
	background: #bababd;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.login .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
    background-color: #05a305;
    margin-bottom: 189px;
}
.footer
{
    background-color: black;
    height:30vh;
}
.check{
    
    display: flex;
    justify-content:center;
    justify-content: space-around;
	margin-top:2rem;
	
}

.cc{
     
    display: flex;
    justify-content:center;
    color:white;

}
.team{
  display: flex;
  justify-content:center;
  color:white;
}

.footer{
  background-image: url('images/darkness.png');
}

.bgp{
  background-image: url('images/darkness.png');
}

.navbar{
    background-image: url('images/darkness.png');
    color:white;
}
.icons{
    display: flex;
    justify-content:center;
  }
.footer
{
    background-color: black;
    height:30vh;
}
.check{
    
    display: flex;
    justify-content:center;
    justify-content: space-around;
    margin-top:2rem;
}
.cc{
     
    display: flex;
    justify-content:center;
    color:white;

}
.team{
  display: flex;
  justify-content:center;
  color:white;
}

.footer{
  background-image: url('images/darkness.png');
}




.menu{
    
    margin-left:34rem;
    width:60%;
   
}
.menu ul li{
    margin-left:1rem;
    margin-right:1rem;
}

.fa {
    padding: 10px;
    font-size: 26px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius:10px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
.content{
    margin-bottom:10rem;
   
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}


.tablee{
    margin-top:4rem;
    margin-bottom:2rem;
}
.empty{
    margin-bottom:2rem;
}
.btns
{
    margin-bottom:2rem;
}
.msg{
    margin-bottom:2rem;
}

.toto{
  display:flex;
  margin-top:2em;
}

.enter-mail{
  margin-left:1rem;
}


.btns button {
  position: relative;
  background-color: #4CAF50;
  border: none;
 
  color: #FFFFFF;
  font-size:1.5rem;
  width: 12rem;
  height:4rem;
 border-radius:5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  outline:none;

}

.btns button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btns button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


.su1{
  border:none;
  background-color: #90EE90;
  border-radius:5px;
}
.su12{
  width:40px;
  border:none;
  background-color:white;
  outline:none;
}
.msg p{
  font-size:2rem;
}

.empty p{
  font-size:2rem;
}
.table td img{
  width:80px;
}
.signup{
	border-radius:50px;
}
@media screen and (max-width:992px)
{
  .menu{
      margin-left:unset;
  }


}
@media screen and (max-width:500px)
{
	.signup h2{
		font-size:1rem;
	}
	
	.login h2{
		font-size:1rem;
	}

}
